@tipalti-node-services:registry=https://tfs01.tipalti.com:8080/tfs/Tipalti/_packaging/TipaltiNPM/npm/registry/
@tipalti-node-services:always-auth=true
@tipalti-expenses:registry=https://tfs01.tipalti.com:8080/tfs/Tipalti/_packaging/TipaltiNPM/npm/registry/
@tipalti-expenses:always-auth=true